<div class="box">
  <form class="item" #formulario="ngForm" (ngSubmit)="formulario.form.valid && onGuardarPersona()">
    <input type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="nombreInput">
    <input type="text" name="apellido" id="apellido" placeholder="apellido" [(ngModel)]="apellidoInput">
    <button type="submit" style="cursor: pointer;">+</button>
    <button style="cursor: pointer;" class="buttonRed" 
    (click)="eliminarPersona()"
    *ngIf="index != null" type="submit">-</button>
  </form>
</div>
